<p id="notice"><%= notice %></p>

<h1>Listing Eatup Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Chef</th>
      <th>Date</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eatup_events.each do |eatup_event| %>
      <tr>
        <td><%= eatup_event.name %></td>
        <td><%= eatup_event.chef %></td>
        <td><%= eatup_event.date %></td>
        <td><%= eatup_event.price %></td>
        <td><%= eatup_event.description %></td>
        <td><%= link_to 'Show', eatup_event %></td>
        <td><%= link_to 'Edit', edit_eatup_event_path(eatup_event) %></td>
        <td><%= link_to 'Destroy', eatup_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eatup event', new_eatup_event_path %>
